<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>anon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="page-wrap">
            <div class="loading">Loading...</div>

            <div id="landing-page" data-stellar-background-ratio="1.9" style="position: relative;" data-type="background">
                <div class="number-mask" style="position: relative;">

                    <div class="content-wrapper">
                        <div id="lp-logo" data-stellar-ratio="0.5">
                            <img src="img/anon.png" alt="anon" />
                        </div>

                        <div id="lp-scroll" data-stellar-ratio="0.45">
                            <img class="scroll-img" src="img/scroll-arrow.png" alt="scroll arrow" />
                        </div>

                        <div id="lp-copy" data-stellar-ratio="0.9"  data-stellar-vertical-offset="30">
                            Copy
                        </div>
                    </div>
                </div>

            </div>

            <nav id="head-menu">
                <div class="content-wrapper">
                    <section class="left">
                        <a href="/"><img src="img/anon-light.png" alt="anon" /></a>
                    </section>

                    <section class="right" id="main-nav">
                        <div class="left-sort">
                            View First
                        </div>
                        <ul class="option-set clearfix" data-option-key="sortBy" id="sort-by">
                            <li class="dropdown">Open to sort</li>
                            <li class="all"><a class="checked" href="#sortBy=original-order" data-option-value="random">All</a></li>
                            <li><a data-option-value="1">1</a> <img data-details-type="1" src="img/icons/nav-tool-tip.png" /></li>
                            <li><a data-option-value="2">2</a> <img data-details-type="2" src="img/icons/nav-tool-tip.png" /></li>
                            <li><a data-option-value="3">3</a> <img data-details-type="3" src="img/icons/nav-tool-tip.png" /></li>
                            <li><a data-option-value="4">4</a> <img data-details-type="4" src="img/icons/nav-tool-tip.png" /></li>
                            <li><a data-option-value="5">5</a> <img data-details-type="5" src="img/icons/nav-tool-tip.png" /></li>
                            <li><a data-option-value="6">6</a> <img data-details-type="6" src="img/icons/nav-tool-tip.png" /></li>
                        </ul>
                    </section>

                    <article id="details" class="1">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>1</span></h3>
                        <p>Copy</p>
                    </article>

                    <article id="details" class="2">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>2</span></h3>
                        <p>Copy</p>
                    </article>

                    <article id="details" class="3">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>3</span></h3>
                        <p>Copy</p>
                    </article>

                    <article id="details" class="4">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>4</span></h3>
                        <p>Copy</p>
                    </article>

                    <article id="details" class="5">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>5</span></h3>
                        <p>Copy</p>
                    </article>

                    <article id="details" class="6">
                        <div class="close-icon"><a>Close</a></div>
                        <h3><span>6</span></h3>
                        <p>Copy</p>
                    </article>

                </div>
            </nav>

            <div id="page-wrap-masonry">

                <section id="masonry" class="content-wrapper">
                    <a id="thewall"></a>
                    <div class="wall"></div>
                </section>

                <section id="bubbles" class="bubble-lg" data-speed="4" data-type="background">
                    <div class="bubble-249" data-type="sprite-abs" data-offsetY="125" data-Xposition="45%" data-speed="1.9">
                        <img src="img/bubbles/bubble-249-217.png" />
                    </div>

                    <div class="bubble-249" data-type="sprite-abs" data-offsetY="-1400" data-Xposition="45%" data-speed="2.2">
                        <img src="img/bubbles/bubble-249-217.png" />
                    </div>

                    <div class="bubble-280" data-type="sprite-abs" data-offsetY="-400" data-Xposition="70%" data-speed="2.5">
                        <img src="img/bubbles/bubble-280-303.png" />
                    </div>
                </section>

                <footer>
                    <div class="content-wrapper">

                        <section class="col controller">
                            <div class="controls">
                                <h2>Expand</h2>
                            </div>
                        </section>

                        <section class="col">
                            <h3>Headline</h3>
                            <div class="underhead">
                                Footer Copy
                            </div>
                        </section>

                        <section class="col">
                            <h3>Headline</h3>
                            <div class="underhead">
                                Footer Copy
                            </div>
                        </section>

                        <section class="col">
                            <h3>Headline</h3>
                            <div class="underhead">
                                Footer Copy
                            </div>
                        </section>

                        <section class="col">
                            Footer Copy
                        </section>
                    </div>
                </footer>

            </div> <!-- /end #page-wrap-masonry -->

            <div id="modal-masonry" class="dialog-masonry"></div>

        </div> <!-- /end #page-wrap -->



        <!-- Modal -->
        <div id="modal" class="dialog" style="zoom: 1; filter: ; opacity: ;">
            <a class="close-mask" title="Close this"></a>
            <div class="modal-body">
                <div class="back"></div>
                <div class="front">
                    <header>
                        <h3></h3>
                        <div class="close-me">
                            <a class="close-modal"><span>Close</span> <img src="img/modal-close.png" /></a>
                        </div>
                    </header>
                    <article>
                        <div class="dialog-left">
                            <div class="image-wrapper">
                                <img src="img/wall-blocks/lg-square-2.png" />
                            </div>
                            <div class="story-slide">
                                <p>check out other <span></span> stories</p>
                                <a class="arrow-left"></a>
                                <div class="slide-tracking">
                                    <ul></ul>
                                </div>
                                <a class="arrow-right"></a>
                            </div>
                        </div>
                        <div class="dialog-right">
                            <h3></h3>
                            <h2></h2>
                            <div class="dot-divider"></div>
                            <p></p>
                            <div class="dot-divider"></div>
                            <div class="button-wrapper">
                                <a href="#" class="button">Read Full Story</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <script type="text/template" id="story-template">
			<article class="item data-<%= pillar %> <%= blockSize %>" data-href="<%= linkUrl %>" data-story-id="<%= id %>">
				<div class="mask">
					<div class="mask-container">
						<h2><%= pillar %></h2>
						<h3>Reason: <%= id %></h3>
						<h1><%= reason %></h1>
						<a id="open-modal">Read More</a>
					</div>
				</div>
				<img src="<%= imgWall %>">
			</article>
        </script>

        <script type="text/template" id="story-template-empty">
            <article class="item <%= blockSize %> empty <%= blockColor %> data-<%= pillar %>" data-story-id="<%= id %>">
                <h3 style="display: none;"><%= reason %></h3>
                <img src="<%= imgWall %>">
            </article>
        </script>

        <script type="text/template" id="story-template-transparent">
            <article class="item <%= blockSize %> empty transparent data-<%= pillar %>" data-story-id="<%= id %>">
            </article>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/home.js"></script>
    </body>
</html>
